$enable-grandients: true;

@import "bootstrap";

html, body {
    height: 100%;
}

.bg {
    background-image: url(/assets/images/bg.jpg);
    background-position: center;
    background-size: cover;
}

main {
    opacity: 0.95;
}

.button_to {
    width: fit-content !important;
    margin: 0 !important;
    padding: 0 !important;
}

.links_content {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}